* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-image: url(../imagenes/fondoPagina2.jpg) ;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body {
    height: 100%;
}

/* navegador */
#navegador {
    background-image: url(../imagenes/fondoNav.jpg);
    background-size: 100%;
    border-bottom: 4px solid gold;
    border-radius: 15px;
    height: auto;
    width: auto;
}
#navegador ul {
    background-color: yellow;
    background: linear-gradient(/* to right, */ gold 25%, red 75%);
    display: flex;
    justify-content: end;
    gap: 0.5%;
    list-style: none;
    font-size: 23px;
    padding: 0.25%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h1 {
    background-color: yellow;
    background: linear-gradient(red 25%, gold 75%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25%;
    margin: auto auto 1%;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* contenido de pagina inicio */
#inicio h2 {
    text-align: center;
}
#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    line-height: 1.5;
}
.txt {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    background-size: cover;
    color: gold;
    padding: 3%;
    border: 2px groove gold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    justify-content: space-between;
    gap: 10px;
}

/* contenido roles */
#roles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    }
.hijo__roles h3, p {
    background-color: rgba(0, 0, 0, 0.75);
}
.hijo__roles {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin: 1%;
    border: 2px solid gold;
    border-radius: 15px;
    color: gold;
    justify-content:space-between;
    padding: 1%;
    line-height: 1.5;
    text-align: center;
}
.titulo__roles {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 1% auto 1%;
    color: gold;
    height: 50px;
    width: 400px;
    text-align: center;
    justify-content: center;
}
.info {
    margin: auto;
    text-align: center;
    grid-column: 1/4;
}

/* lineas */
#lineas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
}
.hijo__lineas h3, p {
    background-color: rgba(0, 0, 0, 0.65);
}
.hijo__lineas {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    border: 2px solid gold;
    border-radius: 15px;
    margin: 1%;
    color: gold;
    justify-content:space-between;
    padding: 1%;
    line-height: 1.5;
    text-align: center;
}
.hijo__lineas img {
    margin: auto;
    width: 100px;
    height: 100px;
}
.titulo__lineas {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 1% auto 1%;
    color: gold;
    height: 50px;
    width: 400px;
    text-align: center;
    justify-content: center;
}

/* diccionario */
#diccionario {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
}
.tabla {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    background-size: 100%;
    color: whitesmoke;
    border: 2px solid gold;
    border-radius: 15px;
    margin: 1% auto 1%;
    text-align:left;
    line-height: 1.5;
}
.tabla td {
    padding: 10px;
}
.tabla ol {
    text-align: center;
    list-style: none;
}
.tabla ul {
    text-align: center;
    list-style: none;
}
.titulo__diccionario {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    background-size: 100%;
    border: 2px solid gold;
    border-radius: 15px;
    margin: 1% auto 1%;
    color: gold;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    padding: 1%;
}

/* contacto */
#contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr ;
}
.formulario {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    border: solid 2px gold;
    border-radius: 15px;
    width: auto;
    height: auto;
    margin: auto;
    text-align: left;
    padding: 0.5%;
    gap: 5px;
}
legend {
    margin: 1%;
    text-align: center;
}
.opciones {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.botones {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-items: center;
    margin: auto;
}
.titulo__contacto {
    background-image: url(../imagenes/fondoTablajpg.jpg);
    background-size: 100%;
    border: 2px solid gold;
    border-radius: 15px;
    margin: 1% auto 1%;
    color: gold;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    padding: 0.5%;
}

/* footer */
footer {
    background-image: url(../imagenes/fondoNav.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 1%;
    width: 100%;
    gap: 10px;
    color: gold;
    border: 4px solid gold;
    border-radius: 15px;
}
footer h2 {
    margin-left: 1%;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; 
}
footer, .push {
    height: 80px;
}

/* media queries */
@media screen and (max-width: 1280px) {
    #navegador {
        font-size: small;
        width: 100%;
        padding: 10px;
    }
    #navegador ul {
        font-size: 15px;
        width: 100%;
        gap: 10px;
        padding: 10px;
    }
    #contacto {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        margin: 0.5%;
        width: auto;
        padding: 10px;
    }
    .opciones {
        display: flex;
        flex-direction: column;
    }
    #diccionario {
        margin: 1%;
    }
    #roles {
        display: flex;
        flex-direction: column;
        margin: 1%;
    }
    #roles .hijo__roles {
        background-size: 100% 100%;
    }
    #lineas {
        display: flex;
        flex-direction: column;
        margin: 1%;
    }
    #inicio {
        width: auto;
        margin: 1%;
    }
    .txt {
        width: auto;
    }
    footer {
        font-size: small;
        width: 100%;
        padding: 10px;
    }
}