* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(../imagenes/fondoPagina2.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
  height: 100%;
}

/* navegador */
.navbar {
  background-image: url(../imagenes/fondoNav.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid gold;
}

.navbar ul {
  background-color: yellow;
  background: linear-gradient(gold 25%, red 75%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.collapse {
  justify-content: end;
}

h1 {
  background-color: yellow;
  background: linear-gradient(red 25%, gold 75%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.26%;
  margin: auto;
  font-size: xx-large;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* contenido de pagina inicio */
#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  line-height: 1.5;
}

#inicio h2 {
  text-align: center;
}

#inicio .txt {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: cover;
  color: gold;
  padding: 3%;
  border: 2px solid gold;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  justify-content: space-between;
  gap: 10px;
}

/* contenido roles */
#roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
}

#roles .hijo__roles {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin: 1%;
  border: 2px solid gold;
  border-radius: 15px;
  color: gold;
  justify-content: space-between;
  padding: 1%;
  line-height: 1.5;
  text-align: center;
}

#roles .hijo__roles h3, #roles .hijo__roles p {
  background-color: rgba(0, 0, 0, 0.75);
}

#roles .titulo__roles {
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 1% auto 1%;
  color: gold;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
}

#roles .info {
  margin: auto;
  text-align: center;
  grid-column: 1/4;
}

/* lineas */
#lineas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr;
}

#lineas .card__lineas {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border: 2px solid gold;
  border-radius: 15px;
  margin: 1%;
  color: gold;
  justify-content: center;
  padding: 1%;
  line-height: 1.5;
  text-align: center;
}

#lineas .titulo__lineas {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: 100%;
  border: 2px solid gold;
  border-radius: 15px;
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 1% auto 1%;
  color: gold;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
  padding: 1%;
}

/* diccionario */
#diccionario {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

#diccionario .tabla__diccionario {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: 100%;
  color: whitesmoke;
  border: 2px solid gold;
  margin: 1% auto;
  text-align: left;
  line-height: 1.5;
  grid-row: 1/3;
}

#diccionario .tabla__diccionario td {
  padding: 10px;
  border: 2px solid gold;
}

#diccionario .tabla__diccionario ol {
  text-align: center;
  list-style: none;
}

#diccionario .tabla__diccionario ul {
  text-align: center;
  list-style: none;
}

.titulo__diccionario {
  display: flex;
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: 100%;
  border: 2px solid gold;
  border-radius: 15px;
  margin: 2% 20% 1%;
  color: gold;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5%;
}

/* contacto */
#contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1fr;
}

#contacto .formulario {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  border: 2px solid gold;
  border-radius: 15px;
  width: auto;
  height: auto;
  margin: auto;
  text-align: left;
  padding: 0.5%;
  gap: 5px;
}

#contacto legend {
  margin: 1%;
  padding: 1%;
  text-align: center;
}

#contacto .opciones {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#contacto .botones {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-items: center;
  margin: auto;
}

#contacto .titulo__contacto {
  background-image: url(../imagenes/fondoTablajpg.jpg);
  background-size: 100%;
  border: 2px solid gold;
  border-radius: 15px;
  margin: 1% auto 1%;
  color: gold;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5%;
}

/* footer */
footer {
  background-image: url(../imagenes/fondoNav.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1%;
  width: 100%;
  gap: 10px;
  color: gold;
  border: 4px solid gold;
  border-radius: 15px;
}

footer h2 {
  margin-left: 1%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1%;
}

.wrapper {
  min-height: 10%;
  height: auto !important;
  height: 10%;
  margin: 0 auto -60px;
}

footer, .push {
  height: 60px;
}

/* media queries */
@media screen and (max-width: 1024px) {
  #navegador {
    font-size: small;
    width: 100%;
    padding: 10px;
  }
  #navegador ul {
    font-size: 15px;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }
  #contacto {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  #contacto .formulario {
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    width: auto;
    padding: 10px;
  }
  #contacto .opciones {
    display: flex;
    flex-direction: column;
  }
  #diccionario {
    margin: 1%;
  }
  #roles {
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  #roles .hijo__roles {
    background-size: 100% 100%;
  }
  #lineas {
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  #inicio {
    width: auto;
    margin: 1%;
  }
  #inicio .txt {
    width: auto;
  }
  footer {
    font-size: small;
    width: 100%;
    padding: 10px;
  }
  footer h2 {
    font-size: large;
  }
}
/*# sourceMappingURL=main.css.map */